# Docker
/docker/mysql/data/

# Laravel
/src/node_modules
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
/src/docker-compose.override.yml
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log

# React
/frontend/node_modules
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/dist
/frontend/build

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
